body {
    margin: 0;
    background: #076986;
}

h1 {
    text-align: center;
    color: white;
}

.title h1 {
    margin-bottom: 10px;
    color: white;
}

.content {
    padding: 15px;
    width: auto;
    text-align: center;
    width: 30%;
    color: white;
    /*border: 2px dashed white;*/
    border-radius: 10px;
    margin: 0 auto;
    font-size: 20px;
    background-color: #1b8bad;
}

input {
    margin-bottom: 5px;
    background-color: #076986;
    border-radius: 5px;
    color:white;
    border-color: #003140;
}

form {
    margin-bottom: 10px;
}

.header {
    width: 100%;
    height: 55px;
    background-color: #003140;
    margin-bottom: 40px;
}

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003140;
    color: white;
    padding: 3px 0;
    text-align: center;
}

#butt:hover {
    color: white;
    background-color: #003140;
    cursor: pointer;
}

#butt {
    font-size: 14px;
}

select {
    margin-bottom: 10px; /* Add some space between select elements */
}

select[name="day"] {
    direction: ltr; /* Change direction to make the dropdown appear below */
}

input[name="confirmPassword"] {
    margin-bottom: 10px;
}