body {
    margin: 0;
    background: #076986;
}

.menu {
    background: #003140;
    height: 55px;
    margin-bottom: 90px;
}

.tr-menu, .tbody-menu, .table-menu {
    width: 100%;
    height: 100%;
    color: white;
}

.th-menu {
    font-size: 30px;
    width: 20%;
}

.th-menu:hover {
    background: linear-gradient(#055067, #0f97c0);
}

.table-menu {
    border-top-width: 0;
    border-bottom-width: 0;
}

.a-menu {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003140;
    color: white;
    padding: 3px 0;
    text-align: center;
}

.proj1 {
    float: left;
    width: 50%;
    text-align: center;
    color: white;
}

.proj2 {
    float: right;
    width: 50%;
    text-align: center;
    color: white;
}

img {
    width: 35%;
    height: 35%;
    border-radius: 30%;
    border-style: double;
    border-width: 10px;
    border-color: #003140;
    transition: transform 0.45s ease;
}

img:hover {
    transform: scale(1.15);
    border-color: white;
    
}